{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block header %}Login{% endblock %}

{% block main %}
<div class="row">
	<div class="well">
		<form class="form-horizontal" action="/login"  method="POST">
			<div class="form-group">
				<label for="username" class="col-lg-2 control-label">Username</label>
				<div class="col-lg-10"><input class="form-control" id="username" type="text" name="username" placeholder="Username" autofocus/></div>
			</div>
			<div class="form-group">
				<label for="username" class="col-lg-2 control-label">Password</label>
				<div class="col-lg-10"><input class="form-control" id="password" type="password" name="password" placeholder="Password" /></div>
			</div>
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<small><i class="text-info">Log in to this site with your Negative Waves forum account.</i></small>
				</div>
			</div>
			<input type="hidden" value="{{ next_page }}" name="next_page">
			<input type="submit" value="Login" class="btn btn-info btn-block">
		</form>
	</div>
</div>
{% endblock %}
