{% extends "base.html" %}
{% block title %}Reset Account{% endblock %}
{% block header %}Reset Password on {{ service }}{% endblock %}

{% block main %}
<form class="form-horizontal" action method="POST">
	<div class="form-group">
		<label for="password" class="col-lg-2 control-label">New Password</label>
		<div class="col-lg-10">
			<input name="password" id="password" class="form-control" type="password">
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-10 col-lg-offset-2">
			<input type="submit" value="Reset Account" class="btn btn-primary btn-block">
		</div>
	</div>
</form>
{% endblock %}
